html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    min-height: 100%;
		font-family: Open Sans;
    background-color: #00BCD4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; font-size:18px;
    }
.buttonInside{
  position:relative;
  margin-bottom:10px;
}
#container{
  width: 300px;
}
input{
  height:25px;
  width:100%;
  padding-left:10px;
  border-radius: 4px;
  border:none;outline:none;
}
button{
  position:absolute;
  right: 0px;
  top: 4px;
  border:none;
  height:20px;
  width:20px;
  border-radius:100%;
  outline:none;
  text-align:center;
  font-weight:bold;
  padding:2px;
}
button:hover{
  cursor:pointer;
}
#help {
  display:none;
  font-style:italic;
  font-size:0.8em;
}

.input1 {
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px; 
    width: 260px;
    height: 15px;    
}

.xyz { 
    background-size: auto; 
    text-align: center; 
    padding-top: 100px; 
} 
.btn-circle.btn-sm { 
    width: 38px; 
    height: 38px; 
    padding: 6px 0px; 
    border-radius: 18px; 
    font-size: 20px; 
    text-align: center; 
} 

.btn-circle.btn-md { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
} 
.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 

#ip6 {
    border-radius: 50%;
    border: 2px solid #609;
    padding: 20px; 
    width: 100%;
    height: 100%;
} 